.*.swp
cruft
cruftold
cruft.log
cruft.log.old
*.o
flow.png
ruleset
test_mlocate
test_plocate
test_filters
test_diversions
test_explain
test_excludes
test_dpkg
test_dpkg_lib
test_python
debian/.debhelper/
debian/cruft-ng.debhelper.log
debian/cruft-ng.substvars
debian/cruft-ng/
debian/cruft.debhelper.log
debian/cruft.substvars
debian/cruft/
debian/debhelper-build-stamp
debian/files
