.*.swp
cruft-ng
cruftlib
cruft.log
cruft.log.old
*.o
test_mlocate
test_plocate
test_filters
test_diversions
test_explain
test_excludes
test_dpkg
debian/.debhelper/
debian/cruft-ng.debhelper.log
debian/cruft-ng.substvars
debian/cruft-ng/
debian/cruft.debhelper.log
debian/cruft.substvars
debian/cruft/
debian/debhelper-build-stamp
debian/files
