#!/usr/bin/make -f
#DH_VERBOSE = 1
include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=debian/cruft-ng
	mkdir -p debian/tmp/
	pod2man --utf8 dh-cruft/dh_cruft debian/tmp/dh_cruft.1

override_dh_install:
	dh_install
	sed -i 's/DH_BUILTIN_VERSION/"$(DEB_VERSION)"/' debian/dh-cruft/usr/bin/dh_cruft
